.box-loading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &::before,&::after{
    content: '';
    position: absolute;
    width: 50px;
    left: 0;
  }
  &::before {
    height: 5px;
    background: #000;
    opacity: 0.1;
    top: 59px;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  &::after {
    height: 50px;
    background: var(--ant-color-primary);
    animation: animate 0.5s linear infinite;
    top: 0;
    border-radius: 3px;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

