* > .enter-x {
  transform: translateX(50px);
}

* > .-enter-x {
  transform: translateX(-50px);
}

* > .enter-x,
* > .-enter-x {
  z-index: 1;
  opacity: 0;
  animation: enter-x-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

* > .enter-y {
  transform: translateY(50px);
}

* > .-enter-y {
  transform: translateY(-50px);
}

* > .enter-y,
* > .-enter-y {
  z-index: 1;
  opacity: 0;
  animation: enter-y-animation 0.4s ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

* > .enter-x:nth-child(1),
* > .-enter-x:nth-child(1),
* > .enter-y:nth-child(1),
* > .-enter-y:nth-child(1) {
  animation-delay: 0.1s;
}

* > .enter-x:nth-child(2),
* > .-enter-x:nth-child(2),
* > .enter-y:nth-child(2),
* > .-enter-y:nth-child(2) {
  animation-delay: 0.2s;
}

* > .enter-x:nth-child(3),
* > .-enter-x:nth-child(3),
* > .enter-y:nth-child(3),
* > .-enter-y:nth-child(3) {
  animation-delay: 0.3s;
}

* > .enter-x:nth-child(4),
* > .-enter-x:nth-child(4),
* > .enter-y:nth-child(4),
* > .-enter-y:nth-child(4) {
  animation-delay: 0.4s;
}

* > .enter-x:nth-child(5),
* > .-enter-x:nth-child(5),
* > .enter-y:nth-child(5),
* > .-enter-y:nth-child(5) {
  animation-delay: 0.5s;
}

* > .enter-x:nth-child(6),
* > .-enter-x:nth-child(6),
* > .enter-y:nth-child(6),
* > .-enter-y:nth-child(6) {
  animation-delay: 0.6s;
}

* > .enter-x:nth-child(7),
* > .-enter-x:nth-child(7),
* > .enter-y:nth-child(7),
* > .-enter-y:nth-child(7) {
  animation-delay: 0.7s;
}

* > .enter-x:nth-child(8),
* > .-enter-x:nth-child(8),
* > .enter-y:nth-child(8),
* > .-enter-y:nth-child(8) {
  animation-delay: 0.8s;
}

* > .enter-x:nth-child(9),
* > .-enter-x:nth-child(9),
* > .enter-y:nth-child(9),
* > .-enter-y:nth-child(9) {
  animation-delay: 0.9s;
}

* > .enter-x:nth-child(10),
* > .-enter-x:nth-child(10),
* > .enter-y:nth-child(10),
* > .-enter-y:nth-child(10) {
  animation-delay: 1s;
}

@keyframes enter-x-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enter-y-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
