@import 'tailwindcss';

@layer utilities {
  .size-full {
    width: 100%;
    height: 100%;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-content-center {
    display: flex;
    justify-content: center;
  }

  .flex-items-center {
    display: flex;
    align-items: center;
  }

  .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-col-items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-col-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inline-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .text-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 隐藏滚动条 需加到父元素上 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden; /* 隐藏滚动条 */
}

.scrollbar-hide *::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ra-scrollbar-thumb-bg);
  border-radius: 20px;
}
