.first-level-menu :global(.ant-menu-item) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  height: auto;
  line-height: 1;
}
.first-level-menu :global(.anticon) {
  line-height: 1 !important;
}
.first-level-menu :global(.ant-menu-title-content) {
  line-height: 1;
  margin-top: 8px;
  opacity: 1 !important;
  margin-left: 0 !important;
}